body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.55;
    color: #222;
}

::-moz-selection {
    background: #b3b3b3;
    text-shadow: none;
}

::selection {
    background: #b3b3b3;
    text-shadow: none;
}

h1 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

h1 {
    font-size: 2.4rem;
    color: #444;
    font-weight: 700;
}

h2 {
    font-size: 1.25rem;
    color: #444;
    font-weight: 700;
}

h3 {
    font-size: 1.15rem;
    font-weight: 700;
}

h4 {
    font-size: 1rem;
    font-weight: 700;
}

h5 {
    font-size: 0.9rem;
    font-weight: 700;
}

h1, h2, h3, h4, h5 {
    margin-top: 1.2em;
    margin-bottom: 0.1em;

}

p, ul, ol {
    font-size: 1rem;
    margin-top: 0em;
    margin-bottom: 0.6em;
}

menu, ol, ul {
	padding-left: 1rem;
}

p.small, p small, small {
    font-size: 0.8rem;
}


a {
  text-decoration: none;
  color: #006984;
}

a:visited {
    color: #0054a2;
}

a:hover {
    color: black;
}

a:before {
    content:"→ ";
}

.table-of-contents a:before {
    content:"";
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
    padding: 0;
}

.container {
    font-weight: 400;
    width: 740px;
    position: relative;
    line-height: 1.55;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.container strong{
    font-weight: 700;
}


table {
    width: 100%;
}

tr {
   border-bottom: 1px solid #ccc;
}

code, kbd, pre, samp {
	font-size: 0.9rem;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 750px) {
	html {
		font-size: 0.9em;
	}
    .container {
        padding-top: 0.7rem;
        width: 95%;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {

    body {
        font-size: 9pt;
        line-height: 1.55;
    }
    h1 {
        font-size: 13.5pt;
    }

    h2 {
        font-size: 11.7pt;
    }

    h3 {
        font-size: 9pt;
    }


    p, ul, ol {
        font-size: 9pt;
    }
	p.small, p small, small {
		font-size: 8pt;
	}


    .container {
        width: 100%;
    }

    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }


    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin-top: 10mm;
        margin-left: 90mm;
        margin-bottom: 15mm;
        margin-right: 15mm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
    li {
    	page-break-inside: avoid;
    }
}
